body {
	padding: 0 1.5em;
}
.contenido {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding: 1.5em;
}
.logov2 {
	text-align: center;
	font-size: 3em;
}
.contacto {
	box-shadow: 0 0 20px 0 rgba(255,255,255, .1);
}
.contacto > * {
	padding: 1em;
}
.formulario {
	background-color: #5D6D7E;
}
.formulario form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.formulario form .bloquear{
	grid-column: 1/3;
}
.formulario form p {
	margin: 0;
	padding: 1em;
}

.formulario form button,
.formulario form input,
.formulario form textarea {
	width: 100%;
	padding: .7em;
	border: none;
	background: none;
	outline: 0;
	color: #fff;
	border-bottom: 1px solid #1C2833;
}
.formulario form button:hover,
.formulario form button:focus {
	background: #85929E;
	color: #1C2833;
	transition: background-color 1s ease-out;
	outline: 0;
}
.formulario form button {
	background: #1C2833;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
	padding: 1em;
}
.info {
	background-color: #212F3D;
}
.info h4,
.info ul,
.info p{
	text-align: center;
	margin: 0 0 1rem 0;
}
.info ul{
	list-style: none;
	padding: 0;
}
.info ul li {
	padding: 0.2em;
}
/* PANTALLA */
@media (min-width: 700px){
	body{
		padding: 0 4rem;
	}
	.contacto {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
	.contacto  > * {
		padding: 2em;
	}
	.info h4,
	.info ul,
	.info p {
		padding: 1em;
		text-align: left;
	}
}
.info a {
	color: #fff;
	text-decoration: none;
}