/* importa la fuente del propio google fonts (la misma página te da el codigo para implementarlo*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background: #222831;
}
/* scrollbar utilizada para cambiarle tanto el tamaó como los colores a la hora de dar click sobre la misma  */
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: #00adb5;
}
body::-webkit-scrollbar-thumb {
    background: #00adb5;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}
.contenidoencabezado{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 b{
    color: #00adb5;
}
.menu {
    height: 80px;
    margin-right: 60px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* before crea un elemento que es el hijo del primer elemento seleccionado */
.menuactivo:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #00adb5;
    position: absolute;
    top: 0;
    left: 0;
}
.menu nav ul li a{
    color: #393e46;
    font-size: 18px;
    transition: color 300ms;
}
.menu nav ul li a:hover{
    color: #00adb5;
}
.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #00adb5;
    display: none;
    justify-content: center;
    align-items: center;
    /* se utiliza para que te salga el cursor con la forma de clicar */
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}
/*Buscador de contenido*/
#ctn-icon-search{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ctn-icon-search i{
    font-size: 18px;
    color: #00adb5;
    cursor: pointer;
    transition: all 300ms;
}
#ctn-icon-search i:hover{
    color: #00adb5;
}
#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}
#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    /*se utiliza para el contorno */
    outline: 0;
}
#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    /* indica el orden */
    z-index: 8;
    overflow: hidden;
    display: none;
}
#box-search li a{
    display: block;
    width: 1200px;
    color: #393e46;
    padding: 12px 20px;
}
#box-search li a:hover{
    background: #f3f3f3;
}
#box-search li a i{
    margin-right: 10px;
    color: #777777;
}
#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}
/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){
    .contenidoencabezado,{
        max-width: 1000px;
        padding: 0 20px;
    }
    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    body{
        overflow-x: hidden;
    }
    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .menu nav ul {
        flex-direction: column;
    }
    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }
    .menu-selected:before{
        width: 0;
    }
    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }
    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #6E9BC4;
    }
    #icon-menu{
        display: flex;
        right: 60px;
    }
}