.panelestarjetas{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 250px;
}

.panelestarjetas .tarjeta{
    background-color: #eeeeee;
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
}

.panelestarjetas .tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(255, 255, 255, 0.2);
}

.panelestarjetas .tarjeta img{
    width: 330px;
    height: 220px;
}


.panelestarjetas .tarjeta h4{
    text-align: center;
    font-weight: 600;
}

.panelestarjetas .tarjeta p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.panelestarjetas .tarjeta a {
    height: 20px;
    width: 80px;
    color: #ff7979;
    background: #00adb5;
    text-align: center;
    line-height: 22px;
    border-radius: 40%;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
































































