.tienda {
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
}
.tienda .cartera {
	float: right;
	cursor: pointer;
	background: #eeeeee;
	width: 170px;
	padding: 13px 15px;
	border-radius: 3px;
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
	display: flex;
	justify-content: space-evenly;
}
.cartera .icono {
	color: black;
}
.cartera .icono i {
  font-size: 20px;
}
.cartera .icono span {
  font-weight: 500;
}
.cartera .contador {
	font-size: 15px;
  height: 23px;
  width: 23px;
  color: #00adb5;
  background: #AFFBFF;
  text-align: center;
  line-height: 22px;
 	border: 1px solid #006D72;
  border-radius: 50%;

}
.tienda .tarjeta {
  top: 100px;
	position: relative;
	background: #eeeeee;
 	border-radius: 3px;
  width: calc(33% - 13px);
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
}
.tienda .tarjeta img {
	width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.tarjeta:hover img {
	transform: scale(1.1);
}
.tienda .tarjeta .contenidotarj {
	position: absolute;
 	width: 100%;
  bottom: -50%;
  background: #eeeeee;
  padding: 10px 20px 22px 20px;
  box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}
.tienda .tarjeta:hover .contenidotarj{
	bottom: 0;
}
.tarjeta .contenidotarj .fila,
.contenidotarj .boton{
	display: flex;
  justify-content: space-between;
}
.contenidotarj .fila .detalles span{
	font-size: 22px;
  font-weight: 500;
}
.contenidotarj .fila .detalles p{
	color: #333;
  font-size: 17px;
  font-weight: 400;
}
.contenidotarj .fila .precio {
	color: #00adb5;
  font-size: 25px;
  font-weight: 600;
}
.contenidotarj .boton {
	margin-top: 20px;
}
.contenidotarj .boton button {
	width: 100%;
  padding: 9px 0;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #00adb5;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.boton button:first-child{
	color: #00adb5;
  margin-right: 10px;
  background: #eeeeee;
}
button:first-child:hover{
	color: #eeeeee;
  background: #00adb5;
}
.boton button:last-child{
	color: #eeeeee;
  margin-left: 10px;
  background: #00adb5;
}
button:last-child:hover{
	background: #027E83;
  border-color: #027E83;
}